@import url('../node_modules/font-awesome/css/font-awesome.min.css');

body {
    overflow: hidden;
    background: linear-gradient(120deg, beige, white);
}

.content {
    font-family: sans-serif;
    height: 1240px;
    width: 2204px;
}

.todo {
    background: linear-gradient(120deg, burlywood, white);
    max-width: 300px;
    height: 1000px;
    text-align: center;
    transition-property: transform;
    transition-duration: 1s;
}

.todo > #notes {
    border-bottom: 0.5px solid black;
}

.todofirst {
    font-size: 20px;
    padding-top: 2px;
    height: 100px;
}

.todo > div:not(.todofirst) {
    border-top: 0.5px solid black;
    padding-top: 10px;
    height: 80px;
}

.todo > div:not(.todofirst):hover {
    cursor: pointer;
    background: linear-gradient(120deg, rgba(222, 184, 135, 0.637), rgba(255, 255, 255, 0.637));
}


.todo > div > h4 {
    font-size: 18px;
    font-weight: 400;
}

.main {
    top: 10%;
    left: 32%;
    position: absolute;
    font-weight: 300;
    font-family: 'Ubuntu';
}

.addtask > div > input {
    border-radius: 5px;
    margin-right: 3px;
}

.addtask > h4 > span > img {
    padding-right: 5px;
}

.addtask > h4 > span > img:hover {
    cursor: pointer;
}

.addhere {
    padding-top: 5px;
}

.addhere > input { 
    background-color: rgb(253, 246, 237);
}

.addhere > #save {
    margin-left: 5px;
    font-weight: 600;
}

#save:hover {
    cursor: pointer;
}